@font-face {
  font-family: F1_Wide;
  src: url("../Formula1-Wide.otf") format("opentype");
}

@font-face {
  font-family: F1;
  src: url("../Formula1-Regular.otf") format("opentype");
}

@font-face {
  font-family: F1_Bold;
  src: url("../Formula1-Bold.otf") format("opentype");
}

body {
    font-family: F1;
    background-color: #000000;
    display: flex;
    align-items: center;
    width: 99vw;
    height: 120vh;
    margin: 10px;
  }

.bar {
  fill-opacity: 0.7;
}
.label {
  font-size: 14px;
  fill: #111;
}
select, button, input[type=range] {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

select, button {
  width: 90%;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: F1;
  font-size: 95%;
}

#clima_display {
  width: 90%;
  height: 20%;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clima_info {
  width: 90%;
  height: 15%;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: right;
  font-size: 95%;
}

#clima_info p {
  margin: 2.5% 0; 
  margin-left: 5%;
}

#clima_display img {
  width: 97%;
  height: 95%;
  border-radius: 5px;
}


input[type=range] {
  width: 90%;
  vertical-align: middle;
}

span {
  font-size: 100%;
  color: #ffffff;
}

#painel_de_controle {
  justify-self: center;
  width: 15%;
  height: 87vh; 
  background-color: #F21905;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

#logo {
  width: 90%;
}